
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}
label {
    display: block;
    margin-top: 20px;
}
select, input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
}
input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
}

@media only screen and (min-width: 600px) {
    form {
        width: 50%;
    }
}

.form-group {
    margin-bottom: 20px;
}

#trofozoitos-container {
    margin-bottom: 15px;
}

.trofozoito-item {
    margin-bottom: 10px;
}

.trofozoito-item select {
    width: 100%;
    margin-bottom: 5px;
}

button#add_trofozoito {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#add_trofozoito:hover {
    background-color: #0056b3;
}

body {
    counter-reset: parasitoCount;
  }

  
  #parasitos-container {
    margin-bottom: 15px;
}

.parasito-item {
    margin-bottom: 10px;
}

.parasito-item select {
    width: 100%;
    margin-bottom: 5px;
}

button#add_parasito {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#add_parasito:hover {
    background-color: #0056b3;
}

#parasitos-container .parasito-item:nth-child(n):before {
    content: "Parásito " counter(parasitoCount);
    counter-increment: parasitoCount;
    font-weight: bold;
}

#parasitos-container .parasito-item:first-child:before {
    content: "";
}
